Project/MeetingReports/App_WebReferences/MRService/MeetingReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MeetingReportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.190.60.27/DBWcfService/MeetingReportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.190.60.27/DBWcfService/MeetingReportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.190.60.27/DBWcfService/MeetingReportService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMeetingReportService_GetCategoryList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryList" />
  </wsdl:message>
  <wsdl:message name="IMeetingReportService_GetCategoryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryListResponse" />
  </wsdl:message>
  <wsdl:message name="IMeetingReportService_GetContentByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContentByCategory" />
  </wsdl:message>
  <wsdl:message name="IMeetingReportService_GetContentByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContentByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IMeetingReportService_GetReportByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportByDate" />
  </wsdl:message>
  <wsdl:message name="IMeetingReportService_GetReportByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportByDateResponse" />
  </wsdl:message>
  <wsdl:message name="IMeetingReportService_GetSearchResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchResult" />
  </wsdl:message>
  <wsdl:message name="IMeetingReportService_GetSearchResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchResultResponse" />
  </wsdl:message>
  <wsdl:message name="IMeetingReportService_SubmitReport_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitReport" />
  </wsdl:message>
  <wsdl:message name="IMeetingReportService_SubmitReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitReportResponse" />
  </wsdl:message>
  <wsdl:message name="IMeetingReportService_GetReportTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportTitle" />
  </wsdl:message>
  <wsdl:message name="IMeetingReportService_GetReportTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportTitleResponse" />
  </wsdl:message>
  <wsdl:portType name="IMeetingReportService">
    <wsdl:operation name="GetCategoryList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeetingReportService/GetCategoryList" message="tns:IMeetingReportService_GetCategoryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeetingReportService/GetCategoryListResponse" message="tns:IMeetingReportService_GetCategoryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContentByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeetingReportService/GetContentByCategory" message="tns:IMeetingReportService_GetContentByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeetingReportService/GetContentByCategoryResponse" message="tns:IMeetingReportService_GetContentByCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeetingReportService/GetReportByDate" message="tns:IMeetingReportService_GetReportByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeetingReportService/GetReportByDateResponse" message="tns:IMeetingReportService_GetReportByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSearchResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeetingReportService/GetSearchResult" message="tns:IMeetingReportService_GetSearchResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeetingReportService/GetSearchResultResponse" message="tns:IMeetingReportService_GetSearchResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeetingReportService/SubmitReport" message="tns:IMeetingReportService_SubmitReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeetingReportService/SubmitReportResponse" message="tns:IMeetingReportService_SubmitReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeetingReportService/GetReportTitle" message="tns:IMeetingReportService_GetReportTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeetingReportService/GetReportTitleResponse" message="tns:IMeetingReportService_GetReportTitle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMeetingReportService" type="tns:IMeetingReportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategoryList">
      <soap:operation soapAction="http://tempuri.org/IMeetingReportService/GetCategoryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentByCategory">
      <soap:operation soapAction="http://tempuri.org/IMeetingReportService/GetContentByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportByDate">
      <soap:operation soapAction="http://tempuri.org/IMeetingReportService/GetReportByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearchResult">
      <soap:operation soapAction="http://tempuri.org/IMeetingReportService/GetSearchResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitReport">
      <soap:operation soapAction="http://tempuri.org/IMeetingReportService/SubmitReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportTitle">
      <soap:operation soapAction="http://tempuri.org/IMeetingReportService/GetReportTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MeetingReportService">
    <wsdl:port name="BasicHttpBinding_IMeetingReportService" binding="tns:BasicHttpBinding_IMeetingReportService">
      <soap:address location="http://10.190.60.27/DBWcfService/MeetingReportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>