Project/ReportCenter/GZBViewer/Service References/MDService/MarketDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MarketDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.190.60.27/DBWcfService/MarketDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.190.60.27/DBWcfService/MarketDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.190.60.27/DBWcfService/MarketDataService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMarketDataService_GetHS300Weight_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHS300Weight" />
  </wsdl:message>
  <wsdl:message name="IMarketDataService_GetHS300Weight_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHS300WeightResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataService_GetIndexPrices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIndexPrices" />
  </wsdl:message>
  <wsdl:message name="IMarketDataService_GetIndexPrices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIndexPricesResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataService_GetStockPrices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockPrices" />
  </wsdl:message>
  <wsdl:message name="IMarketDataService_GetStockPrices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockPricesResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataService_GetAShareStockList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAShareStockList" />
  </wsdl:message>
  <wsdl:message name="IMarketDataService_GetAShareStockList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAShareStockListResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataService_GetChinaBondList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChinaBondList" />
  </wsdl:message>
  <wsdl:message name="IMarketDataService_GetChinaBondList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChinaBondListResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataService_GetSWIndustryList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSWIndustryList" />
  </wsdl:message>
  <wsdl:message name="IMarketDataService_GetSWIndustryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSWIndustryListResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataService_GetFreeFloatCapital_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFreeFloatCapital" />
  </wsdl:message>
  <wsdl:message name="IMarketDataService_GetFreeFloatCapital_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFreeFloatCapitalResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataService_GetTradingDays_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradingDays" />
  </wsdl:message>
  <wsdl:message name="IMarketDataService_GetTradingDays_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradingDaysResponse" />
  </wsdl:message>
  <wsdl:portType name="IMarketDataService">
    <wsdl:operation name="GetHS300Weight">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataService/GetHS300Weight" message="tns:IMarketDataService_GetHS300Weight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataService/GetHS300WeightResponse" message="tns:IMarketDataService_GetHS300Weight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexPrices">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataService/GetIndexPrices" message="tns:IMarketDataService_GetIndexPrices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataService/GetIndexPricesResponse" message="tns:IMarketDataService_GetIndexPrices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockPrices">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataService/GetStockPrices" message="tns:IMarketDataService_GetStockPrices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataService/GetStockPricesResponse" message="tns:IMarketDataService_GetStockPrices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAShareStockList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataService/GetAShareStockList" message="tns:IMarketDataService_GetAShareStockList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataService/GetAShareStockListResponse" message="tns:IMarketDataService_GetAShareStockList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChinaBondList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataService/GetChinaBondList" message="tns:IMarketDataService_GetChinaBondList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataService/GetChinaBondListResponse" message="tns:IMarketDataService_GetChinaBondList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSWIndustryList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataService/GetSWIndustryList" message="tns:IMarketDataService_GetSWIndustryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataService/GetSWIndustryListResponse" message="tns:IMarketDataService_GetSWIndustryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFreeFloatCapital">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataService/GetFreeFloatCapital" message="tns:IMarketDataService_GetFreeFloatCapital_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataService/GetFreeFloatCapitalResponse" message="tns:IMarketDataService_GetFreeFloatCapital_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTradingDays">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataService/GetTradingDays" message="tns:IMarketDataService_GetTradingDays_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataService/GetTradingDaysResponse" message="tns:IMarketDataService_GetTradingDays_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMarketDataService" type="tns:IMarketDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHS300Weight">
      <soap:operation soapAction="http://tempuri.org/IMarketDataService/GetHS300Weight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexPrices">
      <soap:operation soapAction="http://tempuri.org/IMarketDataService/GetIndexPrices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockPrices">
      <soap:operation soapAction="http://tempuri.org/IMarketDataService/GetStockPrices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAShareStockList">
      <soap:operation soapAction="http://tempuri.org/IMarketDataService/GetAShareStockList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChinaBondList">
      <soap:operation soapAction="http://tempuri.org/IMarketDataService/GetChinaBondList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSWIndustryList">
      <soap:operation soapAction="http://tempuri.org/IMarketDataService/GetSWIndustryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFreeFloatCapital">
      <soap:operation soapAction="http://tempuri.org/IMarketDataService/GetFreeFloatCapital" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTradingDays">
      <soap:operation soapAction="http://tempuri.org/IMarketDataService/GetTradingDays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MarketDataService">
    <wsdl:port name="BasicHttpBinding_IMarketDataService" binding="tns:BasicHttpBinding_IMarketDataService">
      <soap:address location="http://10.190.60.27/DBWcfService/MarketDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>